body {
    background-color: #FFFBF7;
}
h1{
    color: #025157;
    text-align: center;
    font-family: 'Joan', serif;
}
p{
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}
button{
    color: #fff;
    background-color: #025157;
}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0px;
    font-size: 0;
  }
  
  li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    color: #025157;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
  }
  
  .logo {
    width: 15%;
  }
  
  .logo > img {
    width: 15%;
  }
  
  .navbar {
    width: 50%;
    text-align: left;
    color: #025157;
    font-weight: 500;
    height: 45px;
  }
  
  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 10px;
  }

  .actions > a {
    color: #67b54b;
  }

  .actions > button {
    color: #fff;
    background-color: #67b567;
    /*padding: 12px 14px 14px 12px;*/
    padding-top: 12;
    padding-right: 14;
    padding-left: 14;
    padding-bottom: 12;
    border: 0px;
    border-radius: 5px;
  }

  .main {
    margin-top: 285px;
    text-align: center;
  }

  .publish{
    margin-left: 50px;
  }

  .publish > h1{
    color: blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }

  .promovideo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promovideo > img{
    width: 15%;
  }

  .fixed-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fffbf7;
  }
  
  .futures{
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-template-rows: repeat(2, 330px);*/
    /*grid-template-rows: repeat(2, 330px);*/
    
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    height: 660px;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

    background-color: #025157;
  }

  .future{
    background-color: #fff;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
  }

  .future img{
    width: 15%;

  }

  .future-top{
    align-items: center;
  }

  .future-left{
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
  }

  .future > h1{
    color: black;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }